extends layout

block content

  .jumbotron
      .container
            h1 How may I help you?
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac leo justo. Nam et semper odio, eu fermentum velit. Nulla aliquam neque magna, a elementum magna ultrices sed. Vivamus pulvinar pellentesque augue vel sagittis. In at mauris nibh. Nullam placerat mattis tincidunt. Aliquam eu diam lorem. Duis eget suscipit odio, at vulputate erat. Nunc ornare rhoncus suscipit. Sed ultricies lorem sed ullamcorper tristique. Mauris malesuada sit amet leo eget efficitur. Curabitur
            a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;


  .container
        .row
                .col-md-4
                    h2 About Us
                    p Praesent vel efficitur mauris. Aliquam in erat leo. Nullam malesuada euismod elit ut iaculis. Nulla eu lacus vulputate, lacinia ante vitae, rutrum lectus. Cras aliquet vel ex ut elementum. Sed volutpat facilisis odio eu auctor. Phasellus erat ante, fringilla sed lorem sed, vulputate euismod diam.
                    a.btn.btn-default(href='#') View Details
                .col-md-4
                    h2 Services
                    p Praesent vel efficitur mauris. Aliquam in erat leo. Nullam malesuada euismod elit ut iaculis. Nulla eu lacus vulputate, lacinia ante vitae, rutrum lectus. Cras aliquet vel ex ut elementum. Sed volutpat facilisis odio eu auctor. Phasellus erat ante, fringilla sed lorem sed, vulputate euismod diam.
                    a.btn.btn-default(href='#') View Details
                .col-md-4
                    h2 Get In Touch
                    p Praesent vel efficitur mauris. Aliquam in erat leo. Nullam malesuada euismod elit ut iaculis. Nulla eu lacus vulputate, lacinia ante vitae, rutrum lectus. Cras aliquet vel ex ut elementum. Sed volutpat facilisis odio eu auctor. Phasellus erat ante, fringilla sed lorem sed, vulputate euismod diam.
                    a.btn.btn-default(href='#') View Details
